{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    
    <script type="application/json" id="charmDefs">
    {% if charmDefs %}
        {{ charmDefs | tojson }}
    {% else %}
        {}
    {% endif %}
    </script>

    <div class="group">
        <div class="canvasWrapper">
            <canvas width="600" height="600" id="canvas"></canvas>
            <div id="overlayContainer"></div>
        </div>
        <div class="drawerWrapper">
            <div id="drawerContainer"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='box2d_v2.3.1_min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='MTO.js') }}"></script>
    <script type="text/javascript">

        var rawDefs = document.getElementById('charmDefs').innerHTML;
        var cloudReferences;
        try {
            cloudReferences = JSON.parse(rawDefs);
        } catch (e) {
            console.warn(e);
        }

        console.log("cloudReferences");
        console.log(cloudReferences);

        MTO.main({
            referenceList: cloudReferences,
            canvas: document.getElementById('canvas'),
            overlayContainer: document.getElementById('overlayContainer'),
            drawerContainer: document.getElementById('drawerContainer')
        });
    </script>

  {% endif %}
{% endblock %}
